.wrapper {
    height: 100vh;
}
.logo {
    margin: 10px 0;

    .logoIcon {
        font-size: 36px;
    }
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: flex;
        align-items: center;
    }

    .labelList {
        font-weight: 700;
        font-size: 20px;
        margin-left: 15px;
    }

    .listIcon {
        font-size: 28px;
    }
}

.searchField {
    input {
        border-radius: 30px;
        background-color: #e6ecf0;
        padding: 0;
    }
}
.searchField:global(.MuiInputBase-root) {
    border-radius: 30px;
    background-color: #e6ecf0 !important;
    display: flex;
    height: 40px;
    justify-content: center;

    &::before {
        display: none;
    }
    &::after {
        display: none;
    }
}
.tweetsWrapper {
    height: 100%;
}
.tweetsWrapper:global(.MuiPaper-root) {
    border-radius: 0px;
    border-top: none;
    border-bottom: none;
}
.tweetsHeader:global(.MuiPaper-root) {
    padding: 10px 15px;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    h6 {
        font-weight: 800;
    }
}
